/* ====================  Bounding Сontainer  --Start--  ==================== */
.container {
	max-width: 1400px;
	padding: 0px 30px;
	margin: 0px auto;
}
/* ====================  Bounding Сontainer  --Start--  ==================== */