/* =============================================  Spoilers  --Start--  ============================================= */
.block {
	margin: 0px 0px 30px 0px;
}
.block__item {
	margin: 0px 0px 10px 0px;
}
.block__title {
	width: 100%;
	text-align: left;
	font-size: 18px;
	background-color: transparent;
	color: #fff;
	padding: 10px;
	position: relative;
}
.block._init .block__title {
	cursor: pointer;
}
.block._init .block__title {
	padding: 10px 40px 10px 10px;
}
.block._init .block__title::before,
.block._init .block__title::after {
	content: "";
	width: 20px;
	height: 1px;
	background-color: #fff;
	position: absolute;
	right: 10px;
	top: 20px;
	transition: transform 0.3s ease 0s;
}
.block._init .block__title::after {
	transform: rotate(-90deg);
}
.block._init .block__title._active::after {
	transform: rotate(0deg);
}
.block__text {
	padding: 0 10px 10px;
	line-height: 130%;
}
.block_1 .block__item {
	background-color: #77608d;
}
.block_2 .block__item {
	background-color: #794f45;
}
.block_3 .block__item {
	background-color: #7a956b;
}