/* =============================================  Page  --Start--  ============================================= */
.page {
	padding-top: rem(12);
	font-size: rem(18);
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include adaptiveValue("row-gap", 26, 12);
	// .page__one
	&__one {
		.page__content {
			background-color: #482b15;
		}
	}
	// .page__content
	&__content {
		padding: 12px 18px;
		flex: 1 1 100%;
		text-align: justify;
		transform: translate(220%, 0px);
		transition: all 1s ease 0s;
		.page__block._watcher-view & {
			transform: translate(0px, 0px);
		}
	}
	// .page__two
	&__two {
		.page__content {
			background-color: #332994;
		}
	}
	// .page__three
	&__three {
		.page__content {
			background-color: #219414;
		}
	}
}


/* =============================================  Page  --End--  ============================================= */