@charset "UTF-8";
/* =============================================  Zeroing  --Start--  ============================================= */
* {
  padding: 0px 0px;
  margin: 0px 0px;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0px 0px;
  border: 0;
}

a, a:visited {
  color: #ffffff;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover, a:active {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ====================  If JavaScript is disabled  --Start--  ==================== */
noscript {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  z-index: 9999999999999999;
}

.noscript__content {
  padding: 4px 12px;
  text-align: center;
}

.noscript__text {
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
  line-height: 160%;
}

.noscript__text a {
  color: #33ff00;
}

/* ====================  If JavaScript is disabled  --End--  ==================== */
/* =============================================  Zeroing  --End--  ============================================= */
/* =============================================  My Code  --Start--  ============================================= */
body {
  background-color: #181818;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ====================  Bounding Сontainer  --Start--  ==================== */
.container {
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 12px;
}

/* ====================  Bounding Сontainer  --Start--  ==================== */
/* =============================================  Spoilers  --Start--  ============================================= */
.block {
  margin: 0px 0px 30px 0px;
}

.block__item {
  margin: 0px 0px 10px 0px;
}

.block__title {
  width: 100%;
  text-align: left;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  position: relative;
}

.block._init .block__title {
  cursor: pointer;
}

.block._init .block__title {
  padding: 10px 40px 10px 10px;
}

.block._init .block__title::before,
.block._init .block__title::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: 20px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.block._init .block__title::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.block._init .block__title._active::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.block__text {
  padding: 0 10px 10px;
  line-height: 130%;
}

.block_1 .block__item {
  background-color: #77608d;
}

.block_2 .block__item {
  background-color: #794f45;
}

.block_3 .block__item {
  background-color: #7a956b;
}

/* =============================================  My Code  --End--  ============================================= */
